In [9]:
# Import modules!
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.colors import rgb2hex
from matplotlib.patches import Polygon
from matplotlib.cm import ScalarMappable
from matplotlib.patches import Polygon
from matplotlib.colorbar import ColorbarBase
import matplotlib as mpl
import math

#Uploading the csv
videogames = pd.read_csv('VIDEOGAMESSALES.csv')
videogames.count()

ProductID       16598
Name            16598
Platform        16598
PlatformID      16598
Year            16327
Genre           16598
GenreID         16598
Publisher       16540
PublisherID     16598
NA_Sales        16598
EU_Sales        16598
JP_Sales        16598
Other_Sales     16598
Global_Sales    16598
dtype: int64

In [10]:
# Descriptive Statistic of The Dataset 
videogames.describe(include='all')

,ProductID,Name,Platform,PlatformID,Year,Genre,GenreID,Publisher,PublisherID,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16598,16598,16598.000000,16327.000000,16598,16598.000000,16540,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
unique,NaN,11493,31,NaN,NaN,12,NaN,578,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Need for Speed: Most Wanted,DS,NaN,NaN,Action,NaN,Electronic Arts,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,12,2163,NaN,NaN,3316,NaN,1351,NaN,NaN,NaN,NaN,NaN,NaN
mean,8300.605254,NaN,NaN,8299.500000,2006.406443,NaN,8299.500000,NaN,8299.500000,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,NaN,NaN,4791.574219,5.828981,NaN,4791.574219,NaN,4791.574219,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,NaN,NaN,1.000000,1980.000000,NaN,1.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,NaN,NaN,4150.250000,2003.000000,NaN,4150.250000,NaN,4150.250000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,NaN,NaN,8299.500000,2007.000000,NaN,8299.500000,NaN,8299.500000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,NaN,NaN,12448.750000,2010.000000,NaN,12448.750000,NaN,12448.750000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,NaN,NaN,16598.000000,2020.000000,NaN,16598.000000,NaN,16598.000000,41.490000,29.020000,10.220000,10.570000,82.740000